<section class="bg-light my-5">
    <div class="container">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-9">
                <div class="card border shadow-0">
                    <div class="m-4">
                        <h4 class="card-title mb-4">Your shopping cart</h4>
                        @if (ViewBag.products != null)
                        {
                            @foreach (var product in @ViewBag.products)
                            {
                                <div class="row gy-3 mb-4">
                                    <div class="col-lg-5">
                                        <div class="me-lg-5">
                                            <div class="d-flex">
                                                <img src="@product.Product.ImageProduct" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                <div class="">
                                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Product.ProductId"
                                               class="nav-link">@product.Product.ProductName</a>
                                                    <p class="text-muted"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                        <div class="">
                                            <select style="width: 100px;" class="form-select me-4"
                                            id="quantitySelect_@product.Product.ProductId" onchange="updateCart(@product.Product.ProductId)">
                                                @for (int i = 1; i <= 20; i++)
                                                {
                                                    <option value="@i" >@i</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="">
                                            <text class="h6">$@product.Cart.UnitPrice</text> <br />
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                                        <div class="float-md-end">
                                            <a asp-controller="Cart" asp-action="RemoveCart" asp-route-productid="@product.Product.ProductId" class="btn btn-light border text-danger icon-hover-danger"> Remove</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        <div class="row gy-3 mb-4"></div>
                        <div class="row gy-3"></div>
                    </div>

                    <div class="border-top pt-4 mx-4 mb-4">
                        <p class="text-muted">
                            @ViewBag.notice
                        </p>
                    </div>
                </div>
            </div>
            <!-- cart -->
            <!-- summary -->
            <div class="col-lg-3">
                <div class="card mb-3 border shadow-0">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card shadow-0 border">
                    <div class="card-body">
                        <div class="mt-3">
                            <a href="Checkout" class="btn btn-success w-100 shadow-0 mb-2"> Make Purchase </a>
                            <a href="Products" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary -->
        </div>
    </div>
</section>
<!-- cart + summary -->
<section>
    <div class="container my-5">
        <header class="mb-4">
            <h3>Recommended items</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
                    <div class="mask px-2" style="height: 50px;">
                        <div class="d-flex justify-content-between">
                            <h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
                            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
                        </div>
                    </div>
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" class="card-img-top rounded-2" />
                    </a>
                    <div class="card-body d-flex flex-column pt-3 border-top">
                        <a href="#" class="nav-link">Gaming Headset with Mic</a>
                        <div class="price-wrap mb-2">
                            <strong class="">$18.95</strong>
                            <del class="">$24.99</del>
                        </div>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    @foreach (var product in ViewBag.products)
    {
        <text>
            document.getElementById("quantitySelect_@product.Product.ProductId").value = "@product.Cart.Quantity";
        </text>
    }

        function updateCart(productId) {
            var quantity = document.getElementById("quantitySelect_" + productId).value;
            $.ajax({
                type: "GET",
                url: "/Cart/UpdateCart",
                data: { productid: productId, quantity: quantity },
                success: function () {
                    // Cart updated successfully, you can perform additional actions if needed.
                    getCart();
                    console.log("Cart updated successfully.");
                },
                error: function () {
                    console.log("Failed to update the cart.");
                }
            });
        }
        function getCart() {
            $.ajax({
                type: "GET",
                url: "/Cart/Index",
                success: function () {
                    // Cart updated successfully, you can perform additional actions if needed.
                    console.log("Get Cart successfully.");
                },
                error: function () {
                    console.log("Failed to get the cart.");
                }
            });
        }
</script>

